@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

$breakpoint-mobile: "only screen and (max-width : 720px)";
$breakpoint: "only screen and (max-width : 1200px)";
$breakpoint-desktop: "only screen and (min-width : 1200px)";

* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #151515;
}

a {
    text-decoration: none;
}

p {
    font-family: Helvetica;
}

p,
h1,
h2,
h3,
h4,
h5 {
    // font-family: 'Noto Serif JP', serif;
    font-family: Helvetica;
    margin: 0;

}

.container {
    max-width: 100vw;
    display: flex;
    flex-flow: column;
    margin: 10vh 0;

    @media #{$breakpoint} {
        width: 70vw;
        margin: 3vh 0;
    }

    @media #{$breakpoint-mobile} {
        width: 96vw;
        margin: 3vh 0;
    }
}

.landing-head,
.landing-body {
    padding: 0 60px;
}

.landing-head {
    font-size: 48px;
    display: flex;
    align-items: center;

    h1 {
        line-height: 1;
    }

    .spacer {
        margin-left: 50px;
        padding-left: 50px;
    }

    img {
        max-height: 220px;
        filter: invert(.1);
    }
}

hr {
    width: 100%;
    margin: 50px 60px;
    opacity: .2;
}

.landing-body {
    font-size: 40px;
}

@media only screen and (max-width : 720px) {

    .landing-head,
    .landing-body {
        padding: 0 20px
    }

    .landing-head {
        flex-flow: column;
        font-size: 32px;
        text-align: center;
    }
}