doctype
html
  head
    meta(charset="UTF-8")
    title ~
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    != yield