div.container
	div.main
		div.sub.title
			form(method="get" action="https://www.google.co.uk/search?q=")
				input(id="search" type="text" placeholder="おはようございます!")
			script
				window.onload = function() { document.getElementById("search").focus(); }
		div.sub
			i.material-icons favorite
			h2 general
			ul
				li
					a(href="https://www.youtube.com") YouTube
				li
					a(href="https://google.co.uk") Google
				li
					a(href="https://4chan.org/") 4chan
				li
					a(href="https://movw-0x16.cf") movw-0x16
				li
					a(href="https://www.amazon.co.uk/") Amazon
				li
					a(href="https://www.paypal.com/signin?country.x=GB&locale.x=en_GB") Paypal
				li
					a(href="https://www.halifax-online.co.uk/personal/logon/login.jsp") Halifax
				li
					a(href="http://www.ebay.co.uk/") eBay
		div.sub
			i.material-icons group
			h2 social
			ul
				li
					a(href="https://store.steampowered.com/login/") Steam
				li
					a(href="https://discordapp.com/login") Discord
				li
					a(href="https://mail.protonmail.com/login") Protonmail
				li
					a(href="https://inbox.google.com/") Inbox
				li
					a(href="https://app.tutanota.de/#login") Tutanota
				li
					a(href="https://facebook.com") Facebook
				li
					a(href="https://web.skype.com/en/") Skype
		div.sub
			i.material-icons book
			h2 college
			ul
				li
					a(href="http://jlcproportal.leggott.ac.uk/") ProPortal
				li
					a(href="https://login.microsoftonline.com/") Webmail
				li
					a(href="http://gv.leggott.ac.uk/") Grapevine
				li
					a(href="https://vle.leggott.ac.uk/") Moodle
				li
					a(href="http://www.thestudentroom.co.uk/") TSR
				li
					a(href="https://drive.google.com/drive/u/0/my-drive") Drive
				li
					a(href="https://en.wikipedia.org/") Wikipedia
				li
					a(href="https://www.cymath.com/") cymath
				li
					a(href="https://www.mymaths.co.uk/") MyMaths
		div.sub
			i.material-icons code
			h2 code
			ul
				li
					a(href="https://github.com") Github
				li
					a(href="http://127.0.0.1:4000") 127.0.0.1
				li
					a(href="https://my.freenom.com/clientarea.php?action=domains") freenom.com
				li
					a(href="https://app.netlify.com/") Netlify
				li
					a(href="https://travis-ci.org/") Travis CI
				li
					a(href="https://love2d.org/") L&#214;VE2D
				li
					a(href="https://console.developers.google.com/") Google API
				li
					a(href="https://analytics.google.com/") Google Analytics
				li
					a(href="http://ionicons.com/") ionicons
				li
					a(href="https://repl.it/languages/lua") Lua compiler

	img.polygons(src="img01.jpg")

	div.block.block1

	div.block.block2