<div class="header">
    <h1>Plants ({{total_doc_count || plants?.length}})</h1>
    <div class="row">
        <hr class="eight columns" />
        <button class="two columns" (click)="toggleAddPlantForm()">Add plant</button>
        <button class="two columns" (click)="toggleApiKeysForm()">API keys</button>
    </div>

    <app-add-plant
        (newPlantEvent)="receiveNewPlant($event)"
        *ngIf="showAddPlant" >
    </app-add-plant>
    <app-api-keys *ngIf="showApiKeys"></app-api-keys>

    <div class="row pagination">
        <button 
            [ngClass]="{'button-primary':i+1==current_page}"
            *ngFor="let item of [].constructor(page_count); let i = index"
            (click)="getPlantPage(i+1)">
            {{i+1}}
        </button>

        <div class="u-pull-right u-full-width row six columns">
            <app-plant-filter
                [plants]="plants"
                (sorter)="sortPlantsByParameter($event)"
                class="four columns">
            </app-plant-filter>

            <app-plant-search
                (getPlantsFromSearch)="recieveGetPlantsFromSearch($event)"
                class="eight columns ">
            </app-plant-search>
        </div>
    </div>

    <p *ngIf="loading">Getting data...</p>
    <p *ngIf="!loading && !success">{{err_message}}</p>

    <!-- <div class="row" *ngIf="plants?.length > 0">
    </div> -->

    <div *ngFor="let plant of plants">
        <!-- | sort:'created_at' | reverse -->
        <app-plant-item 
            (deletePlant)="removePlant($event)"
            [plant]="plant">
        </app-plant-item>
    </div>
</div>
